@CHARSET "utf-8";


.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
	
	padding-left:15px;
	width:100;
}