
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);
@import url(//fonts.googleapis.com/earlyaccess/kopubbatang.css);
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.paging{
	text-align:center;
	height:32px;
	margin-top:5px;
	margin-bottom:15px;
}
.paging a,
.paging strong{
	
	display:inline-block;
	width:36px;
	height:32px;
	line-height:28px;
	font-size:14px;
	border:1px solid #e0e0e0;
	margin-left:5px;
	-webkit-border-radius:3px;
	   -moz-border-radius:3px;
			border-radius:3px;
	-webkit-box-shadow:1px 1px 1px 0px rgba(235,235,235,1);
		-moz-box-shadow:1px 1px 1px 0px rgba(235,235,235,1);
			  box-shadow:1px 1px 1px 0px rgba(235,235,235,1);
	color: #23527c;
	text-decoration:none;
}
.paging a:first-child{margin-left:0;}
.paging strong{
	color:#fff;
	background:#337AB7;
	border:1px solid #337AB7;
}
.paging .page_arw{font-size:11px;line-height:30px;}

.listsub{
	font-family: 'Noto sans KR', sans-serif;
	border-bottom: 1px solid lightgray;
}

.con{
	margin-top: 5px;
    border: 1px solid lightgray;
    width: 100%;
    height: 100%;
    float: left;
    padding-top: 8px;
    padding-bottom: 15px;
    }

.con a:link,
.con a:visited
{
    color: black;
    text-align: center;
    text-decoration: none;
}
.button4{
    display: block;
    margin: 5px 1px;
    height: 30px;
    width: 100px;
    background-color: transparent;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.5px;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease;
}
.button4:hover{
  color: #fff;
}

.btn-4{
  border: 2px solid #00B488;
  color: #00B488;
}
.btn-4:hover{
  background-color: #00B488;
}

.res_button{
	float:right;
	margin-bottom: 50px;
}

.resArea h3 {
	margin: 30px 0 5px 5px;
	font-size: 21px;
	color: #000000;
	font-weight: bold;
	border-bottom: 3px solid lightgray;
	margin-bottom: 15px;
}

.resArea .boardWrite table {
	table-layout: fixed;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-size: 17px;
	width: 100%;
	border: 0;
	border-spacing: 0;
	border-collapse: collapse;
	font-weight: 800;
	text-align: left;
}

.resArea .boardWrite table th {
	width: 140px;
	padding: 5px 0 5px 22px;
	border-top: 1px solid #e7e7e7;
	background: #FAFAFA;
	color: #000000;
	text-align: left;
	line-height: 140%;
	border-left: 0px;
}

.resArea .boardWrite table td {
	width: auto;
	padding: 5px 0 3px 22px;
	border-top: 1px solid #e7e7e7;
	color: #000000;
	line-height: 140%;
	font-size: 15px;
	border-right: 0px;
}

.boardWrite input[type="text"] {
	text-indent: 5px;
	font-size: 17px;
	border: 1px solid #cfcecd;
	background: #fff;
}

.boardWrite label {
	display: inline-block;
	padding: .2em .85em;
	color: #000000; 
	font-size: inherit; 
	line-height: normal; 
	vertical-align: middle; 
	background-color: #fdfdfd; 
	cursor: pointer; 
	border: 1px solid #ebebeb; 
	border-bottom-color: #e2e2e2; 
	border-radius: .25em; 
}


.boardWrite input[type="file"] {
	width: 1px;
	height: 0px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip:rect(0,0,0,0);
	border: 0;
}

.boardWrite .upload-name {
	display: inline-block; 
	padding: .2em .85em; /* label의 패딩값과 일치 */ 
	font-size: inherit; 
	font-family: inherit; 
	line-height: normal; 
	vertical-align: middle; 
	background-color: #f5f5f5; 
	border: 1px solid #ebebeb; 
	border-bottom-color: #e2e2e2; 
	border-radius: .25em; 
	-webkit-appearance: none; /* 네이티브 외형 감추기 */ 
	-moz-appearance: none; 
	appearance: none;
}


.res_main .order {
	color: #000000;
	font-size: 13px;
	border-bottom: 1px solid #e5e5e5;
	width: 1000px;
	margin: 0 auto;
}

.res_main {
	margin: 0 auto;
}

.res table{
	font-family: 'Noto sans KR', sans-serif;
	background: #f6f6f6;
}

.res th {
	padding: 6px 0 4px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #ffffff;
	font-weight: bold;
	font-size: 15px;
	color: #000000;
}

.res td {
	padding: 6px 0 4px;
	border-top: 1px dotted #e3e3e3;
	line-height: 140%;
	text-align: center;
	background: #ffffff;
}

.button2 {
  background: #333;
  color: #ccc;
  width: 100px;
  height: 30px;
  border: 0;
  font-size: 15px;
  border-radius: 4px;
  font-family: 'Noto sans KR', sans-serif;
  -webkit-transition: .6s;
  transition: .6s;
  overflow: hidden;
}
.button:focus2 {
  outline: 0;
}
.button2:before {
  content: '';
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: .5;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  -webkit-transform: translateX(-100px) skewX(-15deg);
          transform: translateX(-100px) skewX(-15deg);
}
.button2:after {
  content: '';
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transform: translateX(-100px) skewX(-15deg);
          transform: translateX(-100px) skewX(-15deg);
}
.button2:hover {
  background: #727070;
  cursor: pointer;
}
.button2:hover:before {
  -webkit-transform: translateX(300px) skewX(-15deg);
          transform: translateX(300px) skewX(-15deg);
  opacity: 0.6;
  -webkit-transition: .7s;
  transition: .7s;
}
.button2:hover:after {
  -webkit-transform: translateX(300px) skewX(-15deg);
          transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  -webkit-transition: .7s;
  transition: .7s;
}

.button3 {
  position: relative;
  padding: 14px 0;
  border: 2px #00B488 solid;
  float : left;
  color: black;
  cursor: pointer;
  font-family: 'Noto sans KR', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  transition: color 0.4s, background-color 0.4s;
  display: inline-block;
  vertical-align: middle;
  line-height: 1em;
  outline: none;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 50%;
  background-color: white;
  height: 70px;
}
.button3:hover, .button3:focus {
  transition: color 0.4s, background-color 0.4s;
  color: white;
  text-decoration: none;
  background-color: #00B488;
}
