@CHARSET "UTF-8";



#main #container #contents {
	float: left;
	width: 1040px;
}


.contents1 {
	z-index: 9;
	position: relative;
	width: 100%;
	margin: auto;
}




.titleArea {
	margin: 0 0 20px;
}

.titleArea h2 {
	font-size: 12px;
	color: #555;
	text-align: center;
	padding: 0;
}

.titleArea h3 {
	margin: 0 0 20px;
	font-size: 12px;
	color: #888;
}

.titleArea p {
	margin: 16px 0 0 10px;
	font-size: 11px;
	color: #8f8f8f;
	line-height: 140%;
}

.titleArea ul {
	margin: 16px 0 0;
}

.titleArea ul li {
	padding: 0 0 0 10px;
	color: #8f8f8f;
	font-size: 11px;
	line-height: 18px;
	background:
		url("http://img.echosting.cafe24.com/design/skin/default/common/ico_help.gif")
		0 2px no-repeat;
}

.titleArea ul strong {
	color: #f26522;
}




.contents1 {
	z-index: 9;
	position: relative;
	width: 100%;
	margin: auto;
}



.xans-member-join h3 {
	margin: 30px 0 5px 25px;
	font-size: 11px;
	color: #666;
}



.xans-member-join input, .xans-member-join textarea {
	padding: 2px 2px 2px 4px;
	border: 1px solid #d9d9d9;
	color: #555;
}


.xans-member-join input[type=radio], .xans-member-join input[type=checkbox]
	{
	width: 13px;
	height: 13px;
	padding: 0;
	border: 0;
	vertical-align: -2px;
	*vertical-align: 2px;
	margin: 0 3px 0 0;
}



.xans-member-join .agreeArea .agree {
	overflow: auto;
	height: 200px;
	padding: 10px;
	border: 1px solid #e6e6e6;
	background: #fff;
}

.xans-member-join .agreeArea .agree p {
	padding: 0 0 17px;
}

.xans-member-join .agreeArea p {
	padding: 17px 0 0 19px;
}

.xans-member-join .agreeArea p span {
	padding: 0 20px 0 0;
}



.xans-member-join .btnArea {
	overflow: hidden;
	margin: 10px 0 50px;
	text-align: right;
	font-size: 1%;
	line-height: 1%;
}

.xans-member-join .btnArea img {
	cursor: pointer;
	margin: 0 0 0 1px;
	font-size: 12px;
	line-height: 18px;
}


.xans-member-join .btnArea span.left {
	float: left;
	margin: 0 0 0 -1px;
}



