@CHARSET "UTF-8";

 .joinFormBody, .joinForm, fieldset, legend, ol, li {
	margin: 0;
	padding: 0;
	}
 
.joinFormBody {
	background: #ffffff;
	color: #111111;
	font-family: 맑은고딕,굴림,돋움;
	width: 100%;
	
}


 


.joinForm {
    background: #9cbc2c;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	counter-reset: fieldsets;
	padding: 20px;
	width: 420px;	
	text-align: left;
	
}

.joinInbox{
	width: 460px; 
	margin: 0 auto;
}

		
.joinForm fieldset {
	border: none;
	margin-bottom: 10px;
}
		
.joinForm fieldset:last-of-type {
	margin-bottom: 0;
}
			
.joinForm legend {
	color: #384313;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
	text-shadow: 0 1px 1px #c0d576;
}
				
.joinForm > fieldset > legend:before {
	content: "Step " counter(fieldsets) ": ";
	counter-increment: fieldsets;
}
				
.joinForm fieldset fieldset legend {
	color: #111111;
	font-size: 13px;
	font-weight: normal;
	padding-bottom: 0;
}
			
.joinForm ol li {
	background: #b9cf6a;
	background: rgba(255,255,255,.3);
	border-color: #e3ebc3;
	border-color: rgba(255,255,255,.6);
	border-style: solid;
	border-width: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	line-height: 30px;
	list-style: none;
	padding: 5px 10px;
	margin-bottom: 2px;
}
							
.joinForm ol ol li {
	background: none;
	border: none;
	float: left;
}
			
.reqyestslabel {
	float: left;
	font-size: 13px;
	/* width: 110px; */
}

			
.reqyestslabel2 {
	float: left;
	font-size: 13px;
	 width: 110px; 
}



. label {
	float: left;
	font-size: 13px;
	width: 110px;
}
				
.joinForm fieldset fieldset label {
	background:none no-repeat left 50%;
	line-height: 20px;
	padding: 0 0 0 30px;
	width: auto;
}
					
					
.joinForm fieldset fieldset label:hover {
	cursor: pointer;
}
				
/* .joinForm input:not([type=radio]) {
	background: #ffffff;
	border: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	font: italic 13px 맑은고딕,굴림,돋움;
	outline: none;
	padding: 5px;
	width: 200px;
}

 */
			
.joinForm input[type=text]
.joinForm input[type=password]
 {
	background: #ffffff;
	border: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	font: italic 13px 맑은고딕,굴림,돋움;
	outline: none;
	padding: 5px;
	width: 200px;
	
}

					
.joinForm input:not([type=submit]):focus, {
	background: #eaeaea;
}
					
				
.joinForm button {
	background: #384313;
	border: none;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	color: #ffffff;
	display: block;
	font: 16px 맑은고딕,굴림,돋움;
	letter-spacing: 1px;
	margin: auto;
	padding: 7px 25px;
	text-shadow: 0 1px 1px #000000;
	text-transform: uppercase;
}
					
.joinForm button:hover {
	background: #1e2506;
	cursor: pointer;
}







