.category_top ul{
    float:right;
}

.category_top li{
	padding: 0 0 0 0;
    margin: 0 0 0 5px;
    color: #999;
    font-size: 13px;
    letter-spacing: 0px;
    float:left;
    list-style:none;
}

.order_button{
	float:right;
	margin-bottom: 50px;
}

.orderArea h3 {
	margin: 30px 0 5px 5px;
	font-size: 13px;
	color: #888;
}

.orderArea .boardWrite table {
	table-layout: fixed;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-size: 13px;
	width: 100%;
	border: 0;
	border-spacing: 0;
	border-collapse: collapse;
	text-align: left;
}

.orderArea .boardWrite table th {
	width: 200px;
	padding: 5px 0 5px 22px;
	border-top: 1px solid #e7e7e7;
	background: #FAFAFA;
	color: #888;
	text-align: left;
	line-height: 140%;
	border-left: 0px;
	font-weight: 400;
}

.orderArea .boardWrite table td {
	width: auto;
	padding: 5px 0 3px 22px;
	border-top: 1px solid #e7e7e7;
	color: #8f8f8f;
	line-height: 140%;
	font-size: 13px;
	border-right: 0px;
}

.boardWrite input[type="text"] {
	text-indent: 5px;
	font-size: 15px;
	border: 1px solid #cfcecd;
	background: #fff;
}

.order_main .order {
	color: #8f8f8f;
	font-size: 13px;
	border-bottom: 1px solid #e5e5e5;
	width: 1000px;
	margin: 0 auto;
}

.order_main {
	margin: 0 auto;
}

.order th {
	padding: 6px 0 4px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #f6f6f6;
	font-size: 13px;
	color: #888;
}

.order td {
	padding: 6px 0 4px;
	border-top: 1px dotted #e3e3e3;
	line-height: 140%;
	text-align: center;
}

.basket_button #button  {
  background: #f6f6f6;
  color: #11111;
  width: 70px;
  height: 30px;
  border: 0;
  font-size: 13px;
  border-radius: 4px;
  font-family: 'Noto sans KR', sans-serif;
  -webkit-transition: .6s;
  transition: .6s;
  overflow: hidden;
  cursor: pointer;
}

.effect2 {
  text-align: center;
 display: inline-block;
    position: relative;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    background-color: #FFDC4C;
    font-family: 'hanna', sans-serif;
    font-size: 18px;
    padding: 12px 0px;
    width: 145px;
    border-radius: 6px;
    overflow: hidden;
}

.effect2.effect-6 {
  -webkit-transition: all 0.2s linear 0s;
  transition:  0pxall 0.2s linear 0s;
}

.effect2.effect-6:before {
  content: ">"; 
  font-family:  sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0 50% 50% 0;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

.effect2.effect-6:hover {
  text-indent: 15px;
}

.effect2.effect-6:hover:before {
  -webkit-transform: scale(3, 1);
          transform: scale(1, 1);
  text-indent:0px;
 }
  
 #button  {
  background: #f6f6f6;
  color: #11111;
  width: 70px;
  height: 30px;
  border: 0;
  font-size: 15px;
  border-radius: 4px;
  font-family: 'Noto sans KR', sans-serif;
  -webkit-transition: .6s;
  transition: .6s;
  overflow: hidden;
  cursor: pointer;
}
