 @CHARSET "UTF-8";



.slide_wrap button{
	overflow:visible;
	border:0;
	outline:none;
	background-color:transparent;
	cursor:pointer
}
.slide_wrap button::-moz-focus-inner{
	padding:0;
	border:0
}


.slide_wrap{
	position:relative;
}

.slide_wrap .btn_prev,.slide_wrap .btn_next{
	position:absolute;
	top:50%;
	width:10px;
	height:20px;
	margin-top:-10px;
	border-top:15px solid transparent;
	border-bottom:15px solid transparent;
	font-size:0;
	transition:0.3s
}

.slide_wrap .btn_prev{
	left:75px;
	border-right:15px solid #c1ccd8
}
.slide_wrap .btn_prev:hover,.slide_wrap .btn_prev:focus{
	border-right-color:#256b9a
}

.slide_wrap .btn_next{
	right:75px;
	border-left:15px solid #c1ccd8
}

.slide_wrap .btn_next:hover,.slide_wrap .btn_next:focus{
	border-left-color:#256b9a
}

.slide_wrap .slide_area{
	overflow:hidden;
	margin:0 auto;
}

.slide_wrap .slide_box{
	overflow:hidden;
	position:relative
}

 .slide_box li img{
 	width:526px;
	height:300px;
 }

.slide_wrap .slide_box li{
	float:left;
	width:526px;
	height:300px;
	background-color:#c1ccd8;
	font-size:15px;
	font-weight:bold;
	color:#fff;
	line-height:200px;
	text-align:center
}

.slide_wrap .indigator{
	width:100%;
	margin-top:15px;
	font-size:0;
	text-align:center
}

.slide_wrap .indigator li{
	display:inline-block;
	margin:0 3px;
}

.slide_wrap .indigator li a{
	display:block;
	width:10px;
	height:10px;
	border-radius:5px;
	background-color:#c1ccd8;
	transition:0.3s
	}

.slide_wrap .indigator li.active a{
	width:40px;
	background-color:#256b9a;
}






.indigator2{
	width:100%;
	margin-top:15px;
	font-size:0;
	text-align:center
}

.indigator2 li{
	display:inline-block;
	margin:0 3px;
}

.indigator2 li a{
	display:block;
	width:100px;
	height:100px;
	border-radius:5px;
	background-color:#c1ccd8;
	transition:0.3s
	}

.indigator2 li.active a{
	width:40px;
	background-color:#256b9a;
}



